<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Examples for Angular5
  </h1>
</div>
<nav>
  <a [routerLink]="['change-detection-strategy']">change-detection-strategy</a>
  <a [routerLink]="['lifecycle-and-expression-changed']">lifecycle-and-expression-changed</a>
  <a [routerLink]="['testing']">testing</a>
  <a [routerLink]="['wizard']">wizard</a>
  <a [routerLink]="['http-client']">http-client</a>
  <a [routerLink]="['customization']">customization</a>
  <a [routerLink]="['components-interaction']">components-interaction</a>
  <a [routerLink]="['shadow-dom']">shadow-dom</a>
  <a [routerLink]="['di-decorators']">di-decorators</a>
  <a [routerLink]="['di-providers-modules-vs-components']">di-providers-modules-vs-components</a>
</nav>
<router-outlet></router-outlet>
